.img-icon-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 90px;
    margin-top: -5%;
    background-color: chartreuse;
    border-radius: 100%;
}
.imgIcon{
    width:30px;
    height:30px;
}
.imgIcon-ingrediets{
    width:10px;
    height:10px;
}