.input-name{
    width:80%;
    height: 100%;
    border: none;
    font-size: 1.5rem;
    padding-left: 20px;
    border-left: 10px solid #e74c3c;
}
.input-preparo{
    padding: 10px;
    min-width: 90%;
    min-height: 300px;
    max-width:90%;
    max-height:300px;
}

.input-name:focus{
    box-shadow: 0 0 0;
    outline:0;
}
#myingredients{
    opacity: 0;
}
#deletados{
    opacity:0;
}