<header class="header-main">
    <h1>Receitas com oque tem</h1>
    <p class="subtitle"><%= subTitle %> </p>
    <a href="/" class="backHome">
        <img src="/images/icones/backHome.png" alt="" srcset="">
    </a href="/">
</header>