<option value="farinha_de_trigo">farinha de trigo</option>
<option value="ovo"> ovo</option>
<option value="fermento_em_pó">fermento em pó</option>
<option value="leite"> leite</option>
<option value="chocolate"> chocolate</option>
<option value="macarrão"> macarrão</option>
<option value="farinha_de_rosca"> farinha de rosca</option>
<option value="estrato_de_tomate"> estrato de tomate</option>
<option value="batata"> batata</option>
<option value="chuchu"> chuchu</option>
<option value="frango"> frango</option>
<option value="carne_de_hamburguer"> carne de hamburguer</option>
<option value="pão"> pão</option>
<option value="queijo"> queijo</option>
<option value="presunto">presunto</option>
<option value="manteiga">manteiga</option>
<option value="arroz"> arroz</option>
<option value="alface">alface</option>
<option value="maizena"> maizena</option>
<option value="banana"> banana</option>
<option value="maça"> maça</option>
<option value="carne moida"> carne moida</option>
<option value="milho_de_pipoca"> milho de pipoca</option>
<option value="barra_de_chocolate"> barra de chocolate</option>
<option value="cenoura">cenoura</option>
<option value="sal">sal</option>
<option value="oleo">oleo</option>
<option value="açucar">açucar</option>
<option value="vinagre">Vinagre</option>
<option value="queijo_ralado">queijo ralado</option>